$clr-link: rgba(0,0,155,0.5);

.data{
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    & table{
        width: 100%;
        & tr{
            & td{
                align-content: center;
                padding: 5px;
                border-radius: 100px;
                padding: 5px;
                width:140px;
            }
        }
        & .membre{
            display: inline;
            & .statut{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
                background-color: red;
                color: white;
                font-weight: bold;
                border-radius: 100px;
                padding: 5px;
                width:200px;
            }
        }
        & .membre:hover{
            background: $clr-link;
        }
    }
}

.btn{
    border-radius: 100px;
    margin-left: 10px;
}

.marge{
    margin-bottom: 10px;
}