<app-header></app-header>
    <app-recherche></app-recherche>
    <div class="container">
        <div class="container data">
            <table class="table-info table">
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><p>Id</p></td>
                    <td class="d-table-cell d-table"><p>Statut</p></td>
                    <td class="d-table-cell d-table"><p>Nom</p></td>
                    <td class="d-table-cell d-table"><p>Prenom</p></td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><p>1</p></td>
                    <td class="d-table-cell d-table"><p class="statut">Administrateur</p></td>
                    <td class="d-table-cell d-table"><p>RASOLONJATOVO</p></td>
                    <td class="d-table-cell d-table"><p>Brice</p></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">M</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">S</button></td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><p>2</p></td>
                    <td class="d-table-cell d-table"><p class="statut">Adherent</p></td>
                    <td class="d-table-cell d-table"><p>RASOLONJATOVO</p></td>
                    <td class="d-table-cell d-table"><p>Brice</p></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">M</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">S</button></td>
                </tr>
            </table>
        </div>
    </div>
<app-footer></app-footer>

