<div *ngIf="change_statut == true" class="container jumbotron">
  <label>Statut:</label>
  <div *ngIf="modify_statut == false">{{poste}}
    <input class="form-control" type="text" [(ngModel)]="poste">
    <button type="submit" class="btn btn-info" (click)="changeStatut()">Creer</button>
  </div>
  <div *ngIf="modify_statut == true">{{statut.poste}}
    <input class="form-control" type="text" [(ngModel)]="statut.poste">
    <button type="submit" class="btn btn-info" (click)="changeStatut()">Modifier</button>
  </div>
</div>
<div class="container info">
  <div *ngIf="membre.photoprofil" class="image-profil">
    <img [title]="urlImage" [src]="urlImage" width="100px" height="100px">
  </div>
  <div class="add-image-profil">
    <input class="btn btn-info" type="file" (change)="getImage($event)">
  </div> 
  <label>Nom:</label>
  <input class="form-control" type="text" [(ngModel)]="membre.nom">
  <label>Prénom: </label>
  <input class="form-control" type="text" [(ngModel)]="membre.prenom">
  <label>Adresse: </label>
  <input class="form-control" type="text" [(ngModel)]="membre.adr_phys">
  <label>Statut: </label>
  <div>{{statut.poste}}
    <select (change)="onChangeStatut()" [(ngModel)]="statut.poste">{{membre.statut.poste}}
      <option *ngFor="let element of liste_statut">{{element.poste}}</option>
    </select>
    <button (click)="modifierStatut()" class="btn-info btn">modifier</button>
    <button (click)="onCreateStatut()" class="btn-info btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </button>
    <button class="btn-info btn" (click)="onDeleteStatut()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </button>
  </div>
  <label>Linkedin: </label>
  <input class="form-control" type="text" [(ngModel)]="this.membre.linkedin">
  <label>Telephone:</label>
  <button class="btn-info btn" (click)="addNum()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
  <button class="btn-info btn" (click)="deleteLastNum()">-</button>
  <div *ngFor="let numero of membre.nummembre">
    <input class="form-control" type="text" [(ngModel)]="numero.numero">
  </div>
  <label>Facebook:</label>
  <button class="btn-info btn" (click)="addFb()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
  <button class="btn-info btn" (click)="deleteLastFb()">-</button>
  <div *ngFor="let fb of membre.fbmembre">
    <input class="form-control" type="text" [(ngModel)]="fb.nom_compte">
  </div>
  <label>E-mail:</label>
  <button class="btn-info btn" (click)="addMail()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
  <button class="btn-info btn" (click)="deleteLastMail()">-</button>
  <div *ngFor="let mail of membre.mailmembre">
    <input class="form-control" type="text" [(ngModel)]="mail.adr_mail">
  </div>
  <label *ngIf="id != 0">Qrcode: </label>
  <div *ngIf="id != 0" class="generator-qrcode">
    <ngx-qrcode
    [elementType]="elementType"
    [errorCorrectionLevel]="correctionLevel"
    [value]="value"
    cssClass="bshadow"></ngx-qrcode>
  </div>
  <div *ngIf="id == 0">
    <label>Mot de passe: </label>{{firstpwd}}
    <input class="form-control" type="password" [(ngModel)]="firstpwd">
    <label>Confirmer mot de passe: </label>{{membre.mdp}}
    <input class="form-control" type="password" [(ngModel)]="membre.mdp">
    <p id="message">{{message_mdp}}</p>
  </div>
  <div *ngIf="membre.id == current_membre.id">
    <label>Mot de passe: </label>{{membre.mdp}}
    <input class="form-control" type="password" [(ngModel)]="membre.mdp">
  </div>
</div>
<button *ngIf="id == 0" type="submit" class="submit btn btn-info" (click)="onSubmit()">Creer</button>
<button *ngIf="id != 0" type="submit" class="submit btn btn-info" (click)="onSubmit()">Modifier</button>