$width: 100px;
$height: 100px;
$clr-link: rgba(0,0,155,0.5);
$clr-modification: #FFD700;
$clr-btn: rgb(0, 0, 161);

.container{
    & .modification{
        transform: translateY(-35px);
        background-color: $clr-modification;
        padding: 5px 20px;
        border-radius: 100px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        color: white;
        & span{
            display: inherit;
        }
        & .bouttons{
            & .btn{
                background-color: $clr-btn;
                border-radius: 50%;
                margin-right: 20px;
                border: 0px;
            }
        }
    }
    & .row{
        & .detail-profil{
            height: 600px;
            overflow: scroll;
            & .photoprofil{
                text-align: center;
                margin: 20px;
                & .image-profil{
                    & img{
                        border-radius: 50%;
                        margin-bottom: 20px;
                    }
                    & button{
                        position: absolute;
                        border-radius: 50%;
                        opacity: 0.8;
                    }
                }
            }
            & .card{
                margin: 10px;
                & .card-header{
                    background-color: $clr-link;
                    & .card-title{
                        display: flex;
                        justify-content: space-between;
                        & .btn{
                            background-color: transparent;
                            border: 0px;
                        }
                    }
                }
                & .card-body{
                    & .card-text{
                        & .information{
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                            & img{
                                margin-right: 20px;
                            }
                            & input{
                                margin-bottom: 2px;
                            }
                            & .numero{
                                display: inline-block;
                            }
                        }
                        & .row{
                            margin-bottom: 5px;
                            & .img-row{
                                text-align: center;
                                width: 20%;
                            }
                            & .numero{
                                width: 60%;
                                & .sous-numero{
                                    display: flex;
                                    & .btn{
                                        color: black;
                                        background: transparent;
                                        border: 0px;
                                    }
                                }
                            }
                            & .btn-row{
                                width: 20%;
                                & .btn{
                                    background-color: transparent;
                                    border: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .submit{
            width: 100%;
        }
        & .activite-membre{
            padding: 20px;
            & .card{
                margin: 20px;
                & .card-header{
                    padding: 0px;
                    & img{
                        border-radius: 5px;
                        width: 100%;
                        height: 300px;
                    }
                }
                & .card-body{
                    & .detail{
                        & .theme{
                            color: black;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        & .date{
                            color: gray;
                            font-size: 15px;
                            font-weight: bold;
                            display: flex;
                        }
                        & .description{
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}


/*input{
    margin: 10px;
}

.info{
    padding: 10px;
    height: 500px;
    overflow: scroll;
    box-shadow: 1px 1px 1px 1px gray;
    & .courveture{
        width: 100%;
        height: 200px;
        background: blue;
    }

    & label{
        margin: 10px;
    }

    & .btn{
        border-radius: 100px;
        margin-left: 10px;
    }

    & .image-profil{
        width: $width;
        height: $height;
        margin: 0px auto;
        & img{
            border-radius: 50%;
        }
    }

    & .add-image-profil{
        width: $width;
        height: $height;
        margin: 0px auto;
        & button{
            width: $width;
            height: $height;
            border-radius: 50%;
        }
    }

    &-profil{
        margin-left: 10px;
        & .input-group{
            border: 100px;
        }
    }

    & div{
        & p{
            color: red;
        }
    }
}

.submit{
    width: 100px;
    margin-top: 20px;
}*/