$width: 100px;
$height: 100px;

.info{
    overflow: scroll;
    & .courveture{
        width: 100%;
        height: 200px;
        background: blue;
    }

    & .image-profil{
        width: $width;
        height: $height;
        margin: 0px auto;
        & img{
            border-radius: 50%;
        }
    }

    & .add-image-profil{
        width: $width;
        height: $height;
        margin: 0px auto;
        & button{
            width: $width;
            height: $height;
            border-radius: 50%;
        }
    }

    &-profil{
        margin-left: 10px;
        & .input-group{
            border: 100px;
        }
    }
}