$espace: 20px;
$clr-list: rgba(0,0,155,0.8);
$clr-list-hover: rgba(255,255,0,0.8);
$clr-background: rgb(0, 0, 29);

*{
    font-family: 'sans-serif';
}

header{
    background-color:  $clr-background;
    margin-bottom: 10px;
    & nav{
        display: flex;
        justify-content: space-between;
        & .dropdown{
            & .dropdown-menu{
                & .profil{
                    margin: 0px auto;
                    & .img-profil{
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

