<header>
    <img src="../../assets/logo.png" width="100px" height="50px">
    <nav>
        <ul>
            <router-outlet></router-outlet>
            <li><a routerLinkActive="active" routerLink="accueil">Accueil</a></li>
            <li><a routerLinkActive="active" routerLink="membre">Membres</a></li>
            <li><a routerLinkActive="active" routerLink="activite">Activités</a></li>
        </ul>
    </nav>
    <img class="img-profil" src="../../assets/1.JPG" width="50px" height="50px"/>
</header>
