<header>
    <nav class="navbar navbar-expend-md navbar-dark">
        <img src="../../assets/logo.png" width="100px" height="50px">
        <div class="dropdown">
            <button id="boutton" class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="boutton">
                <div class="dropdown-item profil">
                    <img class="dropdown-item img-profil" src="../../assets/1.JPG" width="80px" height="90px">
                    <p>RASOLONJATOVO</p>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLinkActive="active" routerLink="accueil">Accueil</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="membre">Membres</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="activite">Activités</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLinkActive="active" routerLink="login">Deconnexion</a>
            </div>
        </div>
    </nav>
</header>
