<div class="container main-container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="image">
                    <img class="img-profil" src="../../assets/profil.jpg" title="../../assets/profil.jpg">
                </div>
                <div class="formulaire">
                    <p class="label">Pseudo</p>
                    <input class="form-control" type="email" [(ngModel)]="username">
                    <p class="label">Mot de passe</p>
                    <input class="form-control" type="password" [(ngModel)]="pwd">
                    <button class="btn-info btn button" (click)="authentification()">Connexion</button>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>