<div class="container main-container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <!--<div class="corps center">
                    <div class="sac"></div>
                    <div class="tete">
                        <div class="casque1">
                            <div class="casque2"></div>
                        </div>
                        <div class="oreille1"></div>
                        <div class="oreille2"></div>
                        <div class="a-vitre">
                            <div class="mini-oreille1"></div>
                            <div class="mini-oreille2"></div>
                            <div class="triangle1"></div>
                            <div class="triangle2"></div>
                            <div class="vitre">
                                <div class="visage"></div>
                                <div class="visage-shadow"></div>
                                <div class="lisiaire"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tronc">
                        <div class="poitrine"></div>
                        <div class="boite">
                            <div class="ecran"></div>
                            <div class="boutton1"></div>
                            <div class="boutton2"></div>
                        </div>
                    </div>
                </div>-->
                <div class="formulaire">
                    <p class="label">Pseudo</p>
                    <input class="form-control" type="email" [(ngModel)]="username">
                    <p class="label">Mot de passe</p>
                    <input class="form-control" type="password" [(ngModel)]="pwd">
                    <button class="btn-info btn button" (click)="authentification()">Connexion</button>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>