$width: 500px;
$height: 500px;
$espace: 50px;
$width-border:50px;
$height-border:$width-border;
$clr-background: rgb(0, 0, 29);
$border: 5px solid $clr-background;
$clr-link: rgba(0,0,155,0.5);
$clr-modification: #FFD700;

.modification{
    transform: translateY(-35px);
    background-color: $clr-modification;
    padding: 5px 20px;
    border-radius: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.camera{
    width: $width;
    height: $height + $espace;
    margin: 0px auto;
    text-align: center;
    & .boutton{
        width: 100px;
        height: 100px;
        margin: 0px auto;
    }
}