$width: 500px;
$height: $width;
$espace: 50px;
$width-border:50px;
$height-border:$width-border;
$clr-background: rgb(0, 0, 29);
$border: 5px solid $clr-background;

.camera{
    position: relative;
    width: $width;
    height: $height + $espace;
    margin: 0px auto;
    
    & .boutton{
        width: 50px;
        height: 50px;
        margin: 0px auto;
    }
}