$clr-link: rgba(0,0,155,0.5);

.data{
    height: 450px;
    border-radius: 10px;
    & table{
        width: 100%;
        & .membre{
            display: inline;
            align-content: center;
            & .statut{
                background-color: red;
                border-radius: 100px;
                padding: -5px;
                width:140px;
            }
        }
        & .membre:hover{
            background: $clr-link;
            border-radius: 100px;
        }
    }
}

.btn{
    border-radius: 100px;
    margin-left: 10px;
}

.marge{
    margin-bottom: 10px;
}