<div class="container data">
    <div class="modification">
        <span>
            <img src="../../assets/menu-white.svg" width="30px" height="30px">
            <h3>Activités</h3>
        </span>
        <div class="bouttons">
            <a *ngIf="is_staff" routerLink="/manager/detail-activite/0" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="navbar navbar-expand liste-categorie">
        <ul *ngFor="let categorie of listeCategorie" class="navbar-nav">
            <li class="nav-item categorie">
                <button (click)="getAllActivite(categorie.type)" class="btn btn-categorie">
                    {{categorie.type}}
                </button>
            </li>
        </ul>
        <button *ngIf="is_staff" (click)="creerCategorie()" class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
        <button *ngIf="is_staff" (click)="modifierCategorie()" class="btn btn-info">
            <img src="../../assets/edit-white.svg" width="20px" height="20px">
        </button>
        <button *ngIf="is_staff" class="btn-info btn" (click)="deleteCategorie()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </div>
    <div *ngIf="modificationCategorie || creationCategorie" class="card categorie">
        <div class="card-header">
            Categorie
        </div>
        <div class="card-body">
            <input class="form-control" type="text" [(ngModel)]="new_categorie">
        </div>
        <button *ngIf="creationCategorie" (click)="createCategorie()" class="btn btn-info">Creer</button>
        <button *ngIf="modificationCategorie" (click)="updateCategorie(categorie)" class="btn btn-info">Modifier</button>
    </div>
    <div class="row">
        <div *ngFor="let activite of listeActivite" class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div [routerLink]="['/manager/detail-activite',activite.id]" class="col-12 col-lg-4">
                            <img *ngIf="!activite.descriptions[0].photos[0]" src="../../assets/menu-black.svg" width="300px" height="300px">
                            <img *ngIf="activite.descriptions[0].photos[0]" [src]="activite.descriptions[0].photos[0].url_image" [title]="activite.descriptions[0].photos[0].url_image" width="300px" height="300px">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div [routerLink]="['/manager/detail-activite',activite.id]" class="detail">
                                <p class="theme">{{activite.theme}}</p>
                                <div class="date">
                                    <svg style="margin-right:20px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                    <p>{{activite.date}}</p>
                                </div>
                                <p class="description">{{activite.descriptions[0].paragraphe}}</p>
                                <a *ngIf="is_staff" routerLinkActive="active" [routerLink]="['/manager/qrcodepresence',activite.id]" class="btn btn-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </a>
                            </div>
                            <button *ngIf="is_staff && !(activite.cloture)" class="btn btn-info" (click)="cloturer(activite)">Clôturer l'évément</button>
                            <button *ngIf="is_staff && (activite.cloture)" class="btn btn-info" (click)="cloturer(activite)">Réouvrir l'évément</button>
                            <button *ngIf="is_staff" class="btn-info btn delete" (click)="delete(activite)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>