<app-header></app-header>
    <app-recherche></app-recherche>
    <div class="container">
        <div class="container data table-info">
            <table class="table-info table">
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><p>Photo</p></td>
                    <td class="d-table-cell d-table"><p>Theme</p></td>
                    <td class="d-table-cell d-table"><p>Date</p></td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><img src="../../assets/moon.svg" width="50px" height="50px"></td>
                    <td class="d-table-cell d-table"><p>Theme de l'activite numero 1 ainsi que les details de l'activité</p></td>
                    <td class="d-table-cell d-table"><p>2021-06-30</p></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">M</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">S</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">Qr</button></td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell d-table"><img src="../../assets/moon.svg" width="50px" height="50px"></td>
                    <td class="d-table-cell d-table"><p>Theme de l'activite numero 1 ainsi que les details de l'activité</p></td>
                    <td class="d-table-cell d-table"><p>2021-06-30</p></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">M</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">S</button></td>
                    <td class="d-table-cell d-table"><button class="btn btn-info">Qr</button></td>
                </tr>
            </table>
        </div>
    </div>
<app-footer></app-footer>
