.data{
    border-radius: 10px;
    height: 450px;
    & table{
        overflow: scroll;
        height: 100%;
        & tr{
            & td{
                
            }
        }
    }
}

.btn{
    border-radius: 100px;
    margin-left: 10px;
}

.marge{
    margin-bottom: 10px;
}