$clr: rgba(0,0,155,0.5);

.jumbotron{
    background: url("../../assets/background.png");
    height: 200px;
}

.section-activite{
    height: 400px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    background-color: white;
    & ul{
        border: 0px;
        overflow: scroll;
        & li{
            border-radius: 10px;
            margin: 10px;
            & .activite-list{
                & p{
                    margin-left: 20px;
                }
            }
        }
        & li:hover{
            background: $clr;
            p{
                color: white;
            }
        }
    }
}