<div class="container">
    <div class="jumbotron instruction"></div>
    <div class="container section-activite">
        <h1>Nouveauté sur les activités</h1>
        <ul class="list-group-item">
            <li *ngFor="let activite of listeActivite | async" class="list-group-item-info list-group-item">
                <div class="activite-list" [routerLink]="['/manager/detail-activite',activite.id]">
                    <p>{{activite.date}}</p>
                    <p>{{activite.theme}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>