<div class="container">
    <div class="modification">
        <span>
            <img src="../../assets/home-white.svg" width="30px" height="30px">
            <h3>Activités</h3>
        </span>
    </div>
    <div class="titre">
        <h3>Bienvenue dans le site de gestion des membres 
        et des activités de l'association 
        Haikintana</h3>     
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/staff-black.svg" width="200px" height="200px">
                    <p>Si vous êtes un administrateur alors vous 
                    pouvez modifier et creer des utilisateurs et 
                    des activités. Votre rôle est de gérer les activités
                    et les nouveaux membres de l'association. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/user-black.svg" width="200px" height="200px">
                    <p>Si vous êtes un simple utilisateur alors vous 
                    pouvez regarder les utilisateurs et 
                    les activités de l'association. Vous pouvez participer
                    à des activités en marquant votre présence avec votre
                    identifiant sous forme de code QR </p>
                </div>
            </div>
        </div>
    </div>
</div>